default_profile: 'test'
admin_access: 'raindog'
ai_name: 'aiyu

profiles:
  test:
    talker_name: 'talker_name'
    ip: '0.0.0.0'
    port: '2020'
    password: 'hunter'
    prompt: 'PG\+\>'
    socials_dir: '/Users/me/code/talker/files/socials'

  prod:
    talker_name: 'real-talker-name'
    ip: '999.999.999.999'
    port: '2020'
    password: 'hunter2'
    prompt: 'PG\+\>'
    socials_dir: '/home/account/talker/files/socials'
